stages:
  - build
  - deploy

variables:
  BUILD_PATH: "build"
  ###########
  ### DEV ###
  ###########
  DEV_USER: "devfront"
  DEV_PASSWORD: "devfront"
  DEV_HOST: "172.31.250.216"
  DEV_PATH: "/home/devfront/react-app"
  #############
  ### PPROD ###
  #############
  PPROD_USER: "front"
  PPROD_PASSWORD: "front"
  PPROD_HOST: "172.31.250.215"
  PPROD_PATH: "/home/front/react-app"

  ############
  ### PROD ###
  ############
  PROD_USER: "prodfront"
  PROD_PASSWORD: "prodfront"
  PROD_HOST: "172.31.249.122"
  PROD_PATH: "/home/prodfront/react-app"

build-front:
  stage: build
  tags:
    - local
  before_script:
    - apt-get update -y
    - curl -fsSL https://deb.nodesource.com/setup_22.x | bash -
    - apt-get install -y nodejs
  script:
    - if [ "$CI_COMMIT_REF_NAME" == "develop" ]; then cp .env.dev .env; fi
    - if [ "$CI_COMMIT_REF_NAME" == "staging" ]; then cp .env.pprod .env; fi
    - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then cp .env.prod .env; fi
    - npm install
    - npm run build
  artifacts:
    paths:
      - $BUILD_PATH

deploy-front:
  stage: deploy
  tags:
    - local
  dependencies:
    - build-front
  before_script:
    - apt-get update -qq && apt-get install -qqy sshpass
  script:
    - |
      if [ "$CI_COMMIT_REF_NAME" == "develop" ]; then
        TARGET_USER=$DEV_USER
        TARGET_PASSWORD=$DEV_PASSWORD
        TARGET_HOST=$DEV_HOST
        TARGET_PATH=$DEV_PATH
      elif [ "$CI_COMMIT_REF_NAME" == "staging" ]; then
        TARGET_USER=$PPROD_USER
        TARGET_PASSWORD=$PPROD_PASSWORD
        TARGET_HOST=$PPROD_HOST
        TARGET_PATH=$PPROD_PATH
      elif [ "$CI_COMMIT_REF_NAME" == "master" ]; then
        TARGET_USER=$PROD_USER
        TARGET_PASSWORD=$PROD_PASSWORD
        TARGET_HOST=$PROD_HOST
        TARGET_PATH=$PROD_PATH
      else
        echo "Branch not recognized for deployment. Exiting..."
        exit 1
      fi
    - sshpass -p "$TARGET_PASSWORD" ssh -o StrictHostKeyChecking=no $TARGET_USER@$TARGET_HOST "rm -rf $TARGET_PATH"
    - sshpass -p "$TARGET_PASSWORD" scp -r -o StrictHostKeyChecking=no $BUILD_PATH $TARGET_USER@$TARGET_HOST:$TARGET_PATH
    - sshpass -p "$TARGET_PASSWORD" ssh -o StrictHostKeyChecking=no $TARGET_USER@$TARGET_HOST "echo '$TARGET_PASSWORD' | sudo -S systemctl restart nginx"
  only:
    - develop
    - staging
    - master
