spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dev_freelance
    username: dev_freelance_user
    password: freelance
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      continue-on-error: false

  kafka:
    bootstrap-servers: localhost:9093
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3

logging:
  level:
    root: INFO
    com.example.freelance: DEBUG
    org.springframework.jdbc.datasource.init: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: null

server:
  port: 9091
